<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.clone.starbucks.DAO.IMemberDAO">

	<select id="loginProc" 
		parameterType="String" 
		resultType="com.clone.starbucks.DTO.UserInfoDTO" >
		SELECT * FROM userInfo WHERE id=#{id}
	</select>
	
  </mapper>

