<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clone.starbucks.DAO.IAdminDAO">

	<select id="memberListForm" resultType="com.clone.starbucks.DTO.RegisterDTO">
		SELECT B.* FROM(
			SELECT rownum rn, A.* FROM( 
				SELECT A.id, A.grade, (SELECT B.registerdate FROM register B WHERE A.id = B.id) AS registerdate FROM userInfo A
				<choose>
					<when test="sel == 'id'">
						WHERE id like '%'||#{search}||'%'
					</when>
					<when test="sel == 'registerdate'">
						WHERE registerdate like '%'||#{search}||'%'
					</when>
				</choose>
			)A
		)B WHERE rn BETWEEN #{b} and #{e}
	</select>
	<select id="memberCount" resultType="int">
		SELECT count(*) FROM register
	</select>
	
	<select id="userInfoForm" resultType="com.clone.starbucks.DTO.RegisterDTO">
		SELECT * FROM register WHERE id=#{id}
	</select>
	<select id="info" resultType="com.clone.starbucks.DTO.UserInfoDTO">
		SELECT star, grade, nickname, cupreward FROM userInfo WHERE id=#{id}
	</select>
	
	<update id="updateReg" parameterType="com.clone.starbucks.DTO.RegisterDTO" >
		UPDATE register SET name=#{name}, phone=#{phone}, email=#{email},
		birth_year=#{birth_year}, birth_month=#{birth_month}, birth_day=#{birth_day},
		gender=#{gender}, event_sms=#{event_sms}, event_e=#{event_e}
		WHERE id=#{id}
	</update>
	<update id="updateUser" parameterType="com.clone.starbucks.DTO.UserInfoDTO" >
		UPDATE userInfo SET star=#{star}, grade=#{grade}, nickname=#{nickname}, cupreward=#{cupreward} WHERE id=#{id}
	</update>
	
	<delete id="deleteCustom" parameterType="String">
		DELETE FROM custom WHERE id=#{id}
	</delete>
	<delete id="deleteSale" parameterType="String">
		DELETE FROM sale WHERE id=#{id}
	</delete>
	<delete id="deleteE_coupon" parameterType="String">
		DELETE FROM e_coupon WHERE id=#{id}
	</delete>
	<delete id="deleteCard" parameterType="String">
		DELETE FROM card WHERE id=#{id}
	</delete>
	<delete id="deleteReg" parameterType="String">
		DELETE FROM register WHERE id=#{id}
	</delete>
	<delete id="deleteUser" parameterType="String">
		DELETE FROM userInfo WHERE id=#{id};
	</delete>
	
</mapper>