<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clone.starbucks.DAO.IMenuDAO">
	<insert id="insertSale" parameterType="com.clone.starbucks.DTO.SaleDTO">
		<selectKey keyProperty="sale_no" resultType="int" order="BEFORE">
			select sale_no.nextval as sale_no from DUAL
		</selectKey>
		
		<choose>
			<when test="pon_no != ''">insert into sale (sale_no, id, p_name, salecount, saledate, salemethod, pon_no) values(#{sale_no}, #{id}, #{p_name}, #{salecount}, #{saledate}, #{salemethod}, #{pon_no})</when>
			<otherwise>insert into sale (sale_no, id, p_name, salecount, saledate, salemethod) values(#{sale_no}, #{id}, #{p_name}, #{salecount}, #{saledate}, #{salemethod})</otherwise>
		</choose>
	</insert>
</mapper>